.dashboard-items-container {
    background-color: #F5F7F8;
    justify-content: center;
}

.dashboard-items-item {
    /* border: 2px solid black; */
    margin: 10px;
}

.dashboard-items-card {
    margin: 10px;
}

.dashboard-items-card-img {
    object-fit: contain;
    height: 345px;
    /* height: 100px; */
}

.dashboard-items-card-btn {
    text-decoration: inherit;
    color: black;
    cursor: pointer;
}