.cart-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* 1st stage */

.cart-item-container {
    width: 60%;
}

.cart-item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 400px; */
    /* width: 90%; */
    margin: .5rem 0;
}

.card-item-quantity {
    border: 2px solid rgba(114, 114, 114, 0.479);
    width: 110px;
}

.cart-checkout {
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* border: 2px solid #D5D5D5; */
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 6.2px;
    
}

.cart-item-price {
    padding: 5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.233);
}

.cart-total-price {
    border-bottom: 2px solid rgba(128, 128, 128, 0.233);
    margin: 5px 0;
    padding: 5px;
}

.cart-remove-btn {
    margin: 5px 0;
}

/* 2nd stage shipping info */

.cart-shipping-info {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 2rem 1rem;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.cart-shipping-info-item {
    margin: 5px 0;
}

/* 3rd stage review order */

.review-order-list-items {
    width: 100%;
    max-width: 600px;
    /* border: 1px solid #c7c7c7; */
    border-radius: 10px;
    margin: 10px 0;
}

.review-order-list-shipping-info {
    width: 100%;
    max-width: 400px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    margin: 10px 0;
}

.review-order-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px 0;
}