.create-container {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.create-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    width: 400px;
    gap: 20px;
}

.create-title {
    text-align: center;
    margin-top: 10px;
}

.create-textarea {
    padding: 20px;
}

.create-btn {
    margin-bottom: 20px;
    height: 56px;
}