.orders-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.orders-item {
    width: 100%;
    max-width: 1300px;
}

.order-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;
}

.order-card-img {
    max-width: 200px;
    object-fit: contain;
    margin: 10px 0;
}

.order-card-img:hover {
    cursor: pointer;
}

.order-card-content {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-grow: 1;
}